{{ template "layout-header.html" .}}
<body>
{{ template "navbar.html" .}}
    <main role="main" class="container-fluid">
        <div class="container mb-5">
            {{ template "banner-top.html" .}}
        </div>
   
        <div class="container-fluid mt-5 mb-5 bg-light">
            <div class="container mt-5 mb-5 p-5 text-center bg-light  ">
                {{ if .Status }}
                <h1>{{.Title}}</h1>
                <p class="lead">
                    {{.Body}}
                </p>
                {{end}}
                <br />
                <br>
                <p class="lead">
                    And we would like you to call us
                    <b>"Function To"</b>
                </p>
                <br />
                <br />
                <br />
                <br />
                </p>

                <div class="container">
                    <p class="lead">
                        "ยินดีต้อนรับสู่เว็บไซร์อย่างเป็นทางการของ บริษัท เอฟทู จำกัด.
                        ขณะนี้เว็บไซร์อยู่ในช่วงการจัดทำและพัฒนา ดำเนินการโดย
                        โปรแกรมเมอร์ภายในบริษัทของเราเอง
                        คุณสามารถเข้ามาเยี่ยมชมเว็บไซร์ของเราได้ทุกวันเพื่อติดตามความเคลื่อนไหวเปลี่ยแปลงเว็บไซร์ของเรา
                        คุณจะได้เห็นทิศทางการพัฒนาที่ต่อเนื่องและเป็นลำดับขั้นที่ไม่หยุดจากทางเรา."
                        <br />
                        <br>
                        <p class="lead text-center">
                            และเราอยากให้คุณเรียกเราว่า <b>"ฟังค์ชั่น ทู"</b>

                        </p>
                </div>
            </div>
            </p>
        </div>
        </div>
    </main>
</body>

{{ template "layout-footer.html" .}}