<!--footer.html-->

<div class="footer text-center mt-5">
  <div class="container-fluid">
    <p class="text-center bg-light pt-5 pb-5">
      <span class="h1 p5">Connect With Us</span>
      <br />
      <span class="p5">Email - Facebook - Instagram - Webstie - Mobile</span>
      <br />
      <span
        >Github Repo:
        <a href="https://www.github.com/psinthorn/f2go" target="_balnk"
          >F2Go</a
        ></span
      >
    </p>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12 small">Copyright F2 Co.,Ltd. 2020</div>
  </div>
</div>
